<objects>
    <!-- Enable player accessible event options typically hidden by active extra events -->
    <object name="ServerZonePartial">
        <member name="ID">1</member>
        <member name="AutoApply">true</member>
        <member name="DynamicMapIDs">
            <element>20101</element>
            <element>20106</element>
            <element>50101</element>
            <element>50105</element>
            <element>50106</element>
            <element>60101</element>
            <element>100105</element>
            <element>130105</element>
            <element>140105</element>
            <element>150102</element>
            <element>5121002</element>
        </member>
        <member name="Triggers">
            <element>
                <object name="ServerZoneTrigger">
                    <member name="Trigger">ON_SETUP</member>
                    <member name="Actions">
                        <element>
                            <object name="ActionRunScript">
                                <member name="scriptID">action_enableOptionalEvents</member>
                            </object>
                        </element>
                    </member>
                </object>
            </element>
        </member>
    </object>
</objects>